# Visual Studio
.vs/
.vscode/
*.code-workspace

# Build results
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
[Dd]ebugPublic*/
[Rr]eleases*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Bb]uild[Ll]ogs/
[Oo]ut/
*.[Oo]bj/
*.dll
*.exe
*.pdb
*.cache/
*.ilk
*.log
*.mdf
*.ldf
*.ndb
*.db
*.dsk
*.trn
*.v12
*.pgd
*.euser
*.eunit
*.idb
*.ipch/
*.msi
*.pdb
*.rsp
*.sdf
*.suo
*.svclog
*.tlog/
*.tlh
*.tli
*.tmp
*.user
*.userosscache
*.unsuccessfulbuild
*.vcxproj.user
